@import '~antd/dist/antd.css';

.ant-table thead > tr > th {
    text-align: right;
}

.ant-table table {
    text-align: right;
}

.ant-table-placeholder {
    text-align: center;
}

.buttonContainer {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.buttonContainer button {
    margin: 10px;
}

.inputScore {
    display: flex;
    justify-content: space-evenly;
}

.deleteButton {
    display: flex;
    justify-content: center;
    padding: 10px;
}
